@import './variables';

.nav-bar {
    ul {
        margin: 0;
        padding: 0;

        &.navbar-right {
            text-align: right;
        }

        &.navbar-left {
            text-align: left;
        }

        &.navbar-center {
            text-align: center;
        }

        li {
            display: inline-flex;
            padding: 10px 16px;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: map-get($nav-bar-config, btn-bg);
            }

            &:not(:last-child) {            
                margin-right: 16px;
            }
        }
    }

    &.vertical-content {
        ul {
            li {
            }
        }
    }

    &.horizontal-content {
        min-width: #{map-get($nav-bar-config, horizontal-content-w)}px;
        vertical-align: top;

        ul {
            li {
                display: block;
                text-align: left;
            }
        }
    }

    .nav-bar-side {
        background-color: #{map-get($blue-gray, 900)};
    }
}