$blue-gray: (
    50: #ECEFF1,
    100: #CFD8DC,
    300: #B0BEC5,
    600: #546E7A,
);

$nav-bar-config: (
    btn-bg: map-get($blue-gray, 50),
    horizontal-content-h: 100,
    horizontal-content-w: 250,
);